In [1]:
import pandas

In [2]:
# reading the CSV file
csvFile = pandas.read_csv('dataset.csv')

In [26]:
# 1) Create a DataFrame that consists of the following columns: (1) location; (2) average deaths for
# 2020; (3) average deaths of 2018; (4) the difference between average deaths of 2020 and 2018.
# The location column should include the name of the respective country.
average_country_wise = pandas.DataFrame()
for location in csvFile.location.unique():
    temp = csvFile.loc[csvFile['location'] == location]
    df = pandas.DataFrame([[location, temp.deaths_2020_all_ages.mean(), temp.deaths_2018_all_ages.mean(), temp.deaths_2020_all_ages.mean() - temp.deaths_2018_all_ages.mean()]], columns = ["location", "average_deaths_in_2020", "average_deaths_in_2018", "average_deaths_in_2020_vs_2018"])
    average_country_wise = pandas.concat([average_country_wise, df])
# the required data frame for point number 1
average_country_wise

,location,average_deaths_in_2020,average_deaths_in_2018,average_deaths_in_2020_vs_2018
0,Austria,1726.566038,1578.134615,148.431422
0,Belgium,2429.622642,2121.942308,307.680334
0,Bulgaria,2378.773585,2080.807692,297.965893
0,Canada,5721.785714,5440.673077,281.112637
0,Chile,2402.547170,2047.269231,355.277939
0,Croatia,1025.479167,1010.807692,14.671474
0,Czechia,2439.666667,2165.461538,274.205128
0,Denmark,1046.698113,1059.153846,-12.455733
0,England & Wales,11586.886792,10371.788462,1215.098331
0,Estonia,305.301887,301.615385,3.686502
0,Finland,1052.634615,1045.557692,7.076923
0,France,12509.641509,11442.865385,1066.776125
0,Germany,18695.288462,18313.365385,381.923077
0,Greece,2478.448980,2306.769231,171.679749
0,Hungary,2654.442308,2512.000000,142.442308
0,Iceland,43.679245,43.211538,0.467707
0,Israel,930.584906,853.788462,76.796444
0,Italy,13501.886364,12286.230769,1215.655594
0,Latvia,542.188679,552.750000,-10.561321
0,Lithuania,826.867925,758.692308,68.175617
0,Luxembourg,86.489796,82.692308,3.797488
0,Netherlands,3229.716981,2942.134615,287.582366
0,New Zealand,625.509434,635.634615,-10.125181
0,Northern Ireland,335.941176,303.346154,32.595023
0,Norway,774.679245,782.769231,-8.089985
0,Poland,9132.471698,7909.846154,1222.625544
0,Portugal,2366.037736,2167.153846,198.883890
0,Scotland,1222.943396,1119.269231,103.674165
0,Slovakia,1070.750000,1041.096154,29.653846
0,Slovenia,449.372549,392.846154,56.526395
0,South Korea,5793.122449,5731.346154,61.776295
0,Spain,9452.641509,8153.730769,1298.910740
0,Sweden,1828.150943,1719.500000,108.650943
0,Switzerland,1394.460000,1286.288462,108.171538
0,Taiwan,3313.512821,3321.519231,-8.006410
0,United Kingdom,NaN,NaN,NaN
0,United States,62768.860000,54453.288462,8315.571538

In [25]:
# 2) For every country/location, find the top-5 weeks with the lowest number of excess deaths
# (Excess deaths are defined as the difference between the deaths that occurred in a specific week
# in 2020 vs 2018).
exess_deaths_in_top_weeks = pandas.DataFrame()
for location in csvFile.location.unique():
    temp = pandas.DataFrame(csvFile.loc[csvFile['location'] == location])
    temp['excess_deaths'] = temp.apply(lambda x: x['deaths_2020_all_ages'] - x['deaths_2018_all_ages'], axis=1)
    sorted_temp = temp.sort_values(by=['excess_deaths'])
    exess_deaths_in_top_weeks = pandas.concat([exess_deaths_in_top_weeks, sorted_temp[:5]])
exess_deaths_in_top_weeks = exess_deaths_in_top_weeks[['location', 'Week']]
exess_deaths_in_top_weeks

           location  Week
5           Austria     6
8           Austria     9
7           Austria     8
10          Austria    11
9           Austria    10
...             ...   ...
1986  United States     2
1985  United States     1
1987  United States     3
1988  United States     4
1989  United States     5

[185 rows x 2 columns]

In [5]:
# 3) Find all the countries showing a positive excess (e.g., the diff between 2020 and 2018 greater
# than 0)
countries_with_positive = []
for location in csvFile.location.unique():
    temp = pandas.DataFrame(csvFile.loc[csvFile['location'] == location], columns=['location', 'date', 'deaths_2020_all_ages', 'deaths_2018_all_ages'])
    if( (temp["deaths_2020_all_ages"].sum() - temp["deaths_2018_all_ages"].sum()) > 0 ):
        countries_with_positive.append(location)
# countries with positive excess
countries_with_positive

['Austria',
 'Belgium',
 'Bulgaria',
 'Chile',
 'Czechia',
 'Denmark',
 'England & Wales',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Israel',
 'Lithuania',
 'Netherlands',
 'New Zealand',
 'Northern Ireland',
 'Norway',
 'Poland',
 'Portugal',
 'Scotland',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'United States']

In [23]:
# 4) For each country/location, find which year had the highest mortality
max_mortality_year = pandas.DataFrame()

for location in csvFile.location.unique():
    temp = pandas.DataFrame(csvFile.loc[csvFile['location'] == location], columns=['location', 'deaths_2020_all_ages', 'deaths_2018_all_ages', "deaths_2015_all_ages", "deaths_2016_all_ages", "deaths_2017_all_ages", "deaths_2019_all_ages", "deaths_2013_all_ages", "deaths_2014_all_ages"])
    df = pandas.DataFrame([[location, temp.deaths_2020_all_ages.sum(), temp.deaths_2018_all_ages.sum(), temp.deaths_2015_all_ages.sum(), temp.deaths_2016_all_ages.sum(), temp.deaths_2017_all_ages.sum(), temp.deaths_2019_all_ages.sum(), temp.deaths_2013_all_ages.sum(), temp.deaths_2014_all_ages.sum()]], columns=['location', 'deaths_2020_all_ages', 'deaths_2018_all_ages', "deaths_2015_all_ages", "deaths_2016_all_ages", "deaths_2017_all_ages", "deaths_2019_all_ages", "deaths_2013_all_ages", "deaths_2014_all_ages"])
    average_country_wise = pandas.concat([average_country_wise, df])
    max_value = df.loc[:, df.columns[1:]].idxmax(axis=1)
    new_df = pandas.DataFrame([[location, max_value[0].replace("deaths_", "").replace("_all_ages", "")]], columns = ["location", "max mortaility year"])
    max_mortality_year = pandas.concat([max_mortality_year, new_df])
max_mortality_year

           location max mortaility year
0           Austria                2020
0           Belgium                2020
0          Bulgaria                2020
0            Canada                2019
0             Chile                2020
0           Croatia                2015
0           Czechia                2020
0           Denmark                2020
0   England & Wales                2020
0           Estonia                2020
0           Finland                2020
0            France                2020
0           Germany                2020
0            Greece                2019
0           Hungary                2020
0           Iceland                2020
0            Israel                2020
0             Italy                2017
0            Latvia                2018
0         Lithuania                2020
0        Luxembourg                2018
0       Netherlands                2020
0       New Zealand                2019
0  Northern Ireland                2020
0            Norway                2013
0            Poland                2020
0          Portugal                2020
0          Scotland                2020
0          Slovakia                2018
0          Slovenia                2020
0       South Korea                2018
0             Spain                2020
0            Sweden                2020
0       Switzerland                2020
0            Taiwan                2019
0    United Kingdom                2020
0     United States                2020

In [20]:
# 5) For every week, show the country/location with the lowest mortality.
country_with_a_lowest_mortality_in_a_week = pandas.DataFrame()
for week in csvFile.Week.unique():
    temp = pandas.DataFrame(csvFile.loc[csvFile['Week'] == week], columns=['location', "Week", 'deaths_2020_all_ages', 'deaths_2018_all_ages', "deaths_2015_all_ages", "deaths_2016_all_ages", "deaths_2017_all_ages", "deaths_2019_all_ages", "deaths_2013_all_ages", "deaths_2014_all_ages"])
    temp = temp.fillna(0)
    temp['total_deaths_in_a_week'] = temp.apply(lambda x: x['deaths_2020_all_ages'] + x['deaths_2018_all_ages'] + x['deaths_2015_all_ages'], axis=1)
    sorted_temp = temp.sort_values(by=['total_deaths_in_a_week'])
    temp = pandas.DataFrame(sorted_temp.loc[sorted_temp['total_deaths_in_a_week'] != 0.0])
    # country_with_a_lowest_mortality_in_a_week = country_with_a_lowest_mortality_in_a_week.append(temp[:1])
    country_with_a_lowest_mortality_in_a_week = pandas.concat([country_with_a_lowest_mortality_in_a_week, temp[:1]])
country_with_a_lowest_mortality_in_a_week = country_with_a_lowest_mortality_in_a_week[['location', 'Week']]
country_with_a_lowest_mortality_in_a_week

    location  Week
838  Iceland     1
839  Iceland     2
840  Iceland     3
841  Iceland     4
842  Iceland     5
843  Iceland     6
844  Iceland     7
845  Iceland     8
846  Iceland     9
847  Iceland    10
848  Iceland    11
849  Iceland    12
850  Iceland    13
851  Iceland    14
852  Iceland    15
853  Iceland    16
854  Iceland    17
855  Iceland    18
856  Iceland    19
857  Iceland    20
858  Iceland    21
859  Iceland    22
860  Iceland    23
861  Iceland    24
862  Iceland    25
863  Iceland    26
864  Iceland    27
865  Iceland    28
866  Iceland    29
867  Iceland    30
868  Iceland    31
869  Iceland    32
870  Iceland    33
871  Iceland    34
872  Iceland    35
873  Iceland    36
874  Iceland    37
875  Iceland    38
876  Iceland    39
877  Iceland    40
878  Iceland    41
879  Iceland    42
880  Iceland    43
881  Iceland    44
882  Iceland    45
883  Iceland    46
884  Iceland    47
885  Iceland    48
886  Iceland    49
887  Iceland    50
888  Iceland    51
889  Iceland    52
890  Iceland    53