In [9]:
import pandas

In [10]:
# reading the CSV file
csvFile = pandas.read_csv('dataset.csv')

In [76]:
new = pandas.DataFrame(columns = ["location", "average_deaths_in_2020", "average_deaths_in_2018", "average_deaths_in_2020_vs_2018"])

In [77]:
df2 = pandas.DataFrame(["asa", "ad", "asda", "sdasd"], columns = ["location", "average_deaths_in_2020", "average_deaths_in_2018", "average_deaths_in_2020_vs_2018"])
new = new.append(df2)

/tmp/ipykernel_88912/2978854277.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df2)

In [78]:
new

,location,average_deaths_in_2020,average_deaths_in_2018,average_deaths_in_2020_vs_2018,0
0,NaN,NaN,NaN,NaN,asa
1,NaN,NaN,NaN,NaN,ad
2,NaN,NaN,NaN,NaN,asda
3,NaN,NaN,NaN,NaN,sdasd

In [ ]:
for location in csvFile.location.unique():
    temp = df.loc[df['location'] == location]
    new.loc[] = [23, 'London', 'F']
    print(location)
    print("Average Deaths in 2020")
    print(temp.deaths_2020_all_ages.mean())
    print("Average Deaths in 2018")
    print(temp.deaths_2018_all_ages.mean())
    print("Difference between deaths in 2020 and 2018")
    print(temp.deaths_2020_all_ages.mean() - temp.deaths_2018_all_ages.mean())