In [1]:
import pandas

In [2]:
# reading the CSV file
csvFile = pandas.read_csv('dataset.csv')

In [3]:
new = pandas.DataFrame()

In [4]:
for location in csvFile.location.unique():
    temp = csvFile.loc[csvFile['location'] == location]
    df = pandas.DataFrame([[location, temp.deaths_2020_all_ages.mean(), temp.deaths_2018_all_ages.mean(), temp.deaths_2020_all_ages.mean() - temp.deaths_2018_all_ages.mean()]], columns = ["location", "average_deaths_in_2020", "average_deaths_in_2018", "average_deaths_in_2020_vs_2018"])
    new = new.append(df)

/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)
/tmp/ipykernel_109016/2599807992.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = new.append(df)

In [5]:
new

,location,average_deaths_in_2020,average_deaths_in_2018,average_deaths_in_2020_vs_2018
0,Austria,1726.566038,1578.134615,148.431422
0,Belgium,2429.622642,2121.942308,307.680334
0,Bulgaria,2378.773585,2080.807692,297.965893
0,Canada,5721.785714,5440.673077,281.112637
0,Chile,2402.547170,2047.269231,355.277939
0,Croatia,1025.479167,1010.807692,14.671474
0,Czechia,2439.666667,2165.461538,274.205128
0,Denmark,1046.698113,1059.153846,-12.455733
0,England & Wales,11586.886792,10371.788462,1215.098331
0,Estonia,305.301887,301.615385,3.686502
0,Finland,1052.634615,1045.557692,7.076923
0,France,12509.641509,11442.865385,1066.776125
0,Germany,18695.288462,18313.365385,381.923077
0,Greece,2478.448980,2306.769231,171.679749
0,Hungary,2654.442308,2512.000000,142.442308
0,Iceland,43.679245,43.211538,0.467707
0,Israel,930.584906,853.788462,76.796444
0,Italy,13501.886364,12286.230769,1215.655594
0,Latvia,542.188679,552.750000,-10.561321
0,Lithuania,826.867925,758.692308,68.175617
0,Luxembourg,86.489796,82.692308,3.797488
0,Netherlands,3229.716981,2942.134615,287.582366
0,New Zealand,625.509434,635.634615,-10.125181
0,Northern Ireland,335.941176,303.346154,32.595023
0,Norway,774.679245,782.769231,-8.089985
0,Poland,9132.471698,7909.846154,1222.625544
0,Portugal,2366.037736,2167.153846,198.883890
0,Scotland,1222.943396,1119.269231,103.674165
0,Slovakia,1070.750000,1041.096154,29.653846
0,Slovenia,449.372549,392.846154,56.526395
0,South Korea,5793.122449,5731.346154,61.776295
0,Spain,9452.641509,8153.730769,1298.910740
0,Sweden,1828.150943,1719.500000,108.650943
0,Switzerland,1394.460000,1286.288462,108.171538
0,Taiwan,3313.512821,3321.519231,-8.006410
0,United Kingdom,NaN,NaN,NaN
0,United States,62768.860000,54453.288462,8315.571538